:global(.header) {
    background-color: #4782f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
}